@charset "utf-8";
@import "normalize";
@import "variables";
@import "../../bower_components/bootstrap/scss/bootstrap-flex";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo {
  padding-top: .308rem;
}

.search-holder {
  padding-left: .75rem;
}

.search-form {
  height: 2.2rem;
  font-size: 1rem;
  background-color: white;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.nav-container {
  border-bottom: 1px solid #ddd;
}

.navlink {
  padding-top: .308rem;
}

.navgray {
  padding-top: .4rem;
}

.nav-text-white {
  color: #ddd;
  font-size: 1.154rem;
  text-decoration: none;
  font-weight: 500;
}

.nav-text-gray {
  color: #bbb;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.btn-success {
  text-decoration: none;
  color: white;
  font-family: HelveticaNeue;
  font-size: 1.077rem;
  font-weight: 500;
}

.ride-detail-hero {
  position: relative;
}

.ride-detail-title {
  position: absolute;
  bottom: 0;
  left: .769rem;
  font-size: 1.846rem;
}

.ride-specs {
  background-color: #181818;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ride-price {
  font-size: 1.385rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ride-type {
  font-size: 1.154rem;
  font-weight: 500;
}

.ride-height {
  color: #bbb;
  font-size: 1rem;
  font-weight: 400;
  display: block;
}

.ride-type-bicycle {
  margin-right: .760rem;
}

.border-line {
  height: 1px;
  background-color: #333;
  display: block;
  width: 90%;
}

.lister-main {
  padding-top: 1.154rem;
  border-bottom: 1px solid #333;
}

.lister-info {
  padding-top: 1.308rem;
}

.lister-name {
  font-size: 1.154rem;
  font-weight: 500;
}

.lister-review-number {
  color: #c2c2c2;
  font-weight: 400;
}

.lister-stars {
  padding-bottom: .25rem;
  padding-left: .5rem;
}

.all-extras {
  padding-top: 1.154rem;
}

.extra-font {
  color: #ddd;
  font-size: 1.077rem;
  font-weight: 500;
  padding-top: .846rem;
}

.ride-description {
  font-weight: 400;
  color: #ddd;
  line-height: 1.538rem;
  padding-top: 1.154rem;
  border-bottom: 1px #333 solid;
}

.review-header {
  padding-top: .769rem;
}

.review-header-font {
  color: white;
  font-size: 1.154rem;
  font-weight: 500;
}

.review-header-stars {
  padding-bottom: .45rem;
  padding-left: 1rem;
}

.review-main {
  border-bottom: 1px #333 solid;
  padding-left: 0;
}

.review-stars {
  padding-bottom: .4rem;
  right: 2rem;
  position: absolute;
  display: inline;
}

.profile-review {
  padding-top: 1.1rem;
}

.review-body {
  margin-left: .5rem;
}

.review-time {
  color: #999;
  font-size: 0.846rem;
  font-weight: 300;
  margin-bottom: .5rem;
}

.review-link {
  color: #4faf43;
  font-size: 1.077rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1.154rem;
}

.profile-cover {
  position: absolute;
  width: 100%;
}

.profile-pic {
  position: relative;
  padding-top: 9px;
  width: 120px;
}

.lister-description {
  border-bottom: solid 1px #333;
}

.join-date {
  color: #999;
  font-size: 0.923rem;
  font-weight: 400;
}

.about-me {
  color: #ddd;
  font-size: 1rem;
  font-weight: 400;
}

.verification-bubbles {
  padding-top: 1.154rem;
  padding-bottom: 1.154rem;
  border-bottom: solid 1px #333;
}

.verifications {
  padding-bottom: 1rem;
}

.verify-text {
  padding-left: .5rem;
}

.verifications-row-2 {
  padding-top: 1rem;
}

.stats-lister-all {
  padding-top: 1.154rem;
  padding-bottom: .654rem;
  border-bottom: solid 1px #333;
}

.stats-lister {
  color: #999;
  font-size: 0.923rem;
  font-weight: 400;
}

.location-header {
  padding-top: 1.154rem;
  padding-bottom: 1.154rem;
}

.similar-rides {
  padding-top: 1.154rem;
  padding-bottom: 1.154rem;
}

.card {
  margin: 0;
  background-color: none;
  border: none;
  border-radius: none;
}

.card-img {
  width: 100%;
  border-radius: none;
}

.card-overlay-text {
  bottom: 1rem;
  position: absolute;
  width: 100%;
  left: .75rem;
}

.card-title {
  color: white;
  font-size: 1.154rem;
  font-weight: 500;
  margin-bottom: .385rem;
}

.card-text {
  color: #bbb;
  font-size: 1rem;
  font-weight: 400;
}

.col-xs-3 {
  position: absolute;
  bottom: -.25rem;
  right: -.25rem;
}

.link-row {
  padding-top: 1rem;
  padding-bottom: .8rem;
}

.currency-dropdown {
  padding-top: .5rem;
}

@media (min-width: 375px) {
  .search-holder {
    padding-left: 3rem;
  }
}

@include media-breakpoint-up(lg) {

  .profile-cover {
    width: 56.2%;
    margin-left: 22%;
  }

  .container-fluid {
    padding-left: 22%;
    padding-right: 22%;
  }

  .ride-detail-title {
    left: 20%;
    right: 20%;
  }
}

@include media-breakpoint-up(sm) {

  .container {
    max-width: 720px;
  }

  .logo {
    padding-top: .488rem;
  }

  .search-holder {
    padding-top: .18rem;
  }

  .search-form {
    background-color: white;
  }

  .footer-link {
    color: #bbb;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
  }

  .ride-detail-title {
    font-size: 2.462rem;
    text-align: center;
    left: 16%;
    right: 16%;
  }

  .ride-meta-data {
    background-color: #181818;
  }

  .ride-specs {
    padding-left: 24px;
  }

  .ride-price {
    font-size: 1.16rem;
    font-weight: 400;
    padding-top: 1.6rem;
    text-align: right !important;
    padding-right: 24px;
  }

  .last-price {
    padding-right: 0;
  }

  .all-extras {
    padding-top: 0;
  }

  .review-stars {
    right: 0;
  }

  .profile-pic {
    width: 140px;
    padding-top: 30px;
  }

  .lister-main {
    padding-left: 0;
  }

  .ride-description {
    padding-left: 0;
  }

  .review-header {
    padding-left: 0;
  }

  .lister-description {
    padding-left: 0;
  }

  .verification-bubbles {
    padding-left: 0;
  }

}

@include media-breakpoint-down(sm) {

  .nav-container {
    margin-left: .9375rem;
    margin-right: .9375rem;
  }

  .top-container {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-link {
    color: #bbb;
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
  }

  .two-line-link {
    line-height: 1.2;
  }

  .lister-row {
    padding-left: 0;
    padding-right: 0;
    margin-right: .9375rem;
  }

  .lister-profile {
    border-bottom: 1px #333 solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: .9375rem;
    margin-right: .9375rem;
  }

  .ride-description {
    border-bottom: 1px #333 solid;
    padding-left: 0;
    padding-right: 0;
    margin-left: .9375rem;
    margin-right: .9375rem;
  }

  .cutoff-border {
    padding-left: 0;
    padding-right: 0;
    margin-left: .9375rem;
    margin-right: .9375rem;
  }

}


